/* ==========================================================================
   -- Home
   ========================================================================== */

html
    height 100%

    body
        min-height 100%
        display flex
        flex-direction column
        justify-content center
        align-self center
        flex-grow 1

*:focus
    outline none

#app
    display flex
    flex-direction column
    flex-grow 1

    @import './header'
    @import './card_list'
