/* ==========================================================================
   -- Colors
   ========================================================================== */

    /**
        @description shades of black
    */
    black = #000


    /**
        @description shades of green
    */
    green = #26a69a
    green_lighter = #aef237
    gree_soft = #80CBC4


    /**
        @description shades of blue
    */
    blue = #2962ff
    blue_soft = #42a5f5


    /**
        @description shades of red
    */
    red = #b65a5a
