/* ==========================================================================
   -- Fonts
   ========================================================================== */

    /**
        @description Google Fonts Lobster font family
    */
    lobster()
        font-family 'Lobster', cursive

    /**
        @description Google Fonts Open Sans font family
    */
    openSans()
        font-family 'Open Sans', sans-serif
