/* ==========================================================================
   -- headers
   ========================================================================== */


    /**
        @description Header logo style
    */
    header_logo_style()
        lobster()
        font-size 24px
        color green
        margin 0


    /**
        @description Card text
    */
    card_text()
        lobster()
        color white
        font-size 30px
        margin 0
        padding 0



    /**
        @description Card back input text
    */
    card_input_style()
        card_text()
        box-sizing border-box
        background transparent
        text-align center
        border 0
        border-bottom 2px solid alpha(white, .3)


    /**
        @description When cards is gone message
    */
    gone_message()
        lobster()
        color white
        font-size 30px
